{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <style>
            body{
                background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
            }
          </style>
        <div class="col-md-10">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center">{{ transient_house.name }}</h2>
                    <p class="card-text"><strong>Description:</strong> {{ transient_house.description }}</p>
                    <p class="card-text"><strong>Price per Night:</strong> {{ transient_house.price_per_night }}</p>
                    <p class="card-text"><strong>Capacity:</strong> {{ transient_house.capacity }}</p>

                    <h3 class="mt-4">Location</h3>
                    <div class="location-info mb-4">
                        <p class="mb-1"><strong>Address:</strong> {{ transient_house.location.address }} {{ transient_house.location.city }} {{ transient_house.location.country }}</p>
                    </div>

                    <h3 class="mt-4">Rooms</h3>
                    <ul class="list-group mb-4">
                        {% if transient_house.rooms.exists %}
                            {% for room in transient_house.rooms.all %}
                                <li class="list-group-item">
                                    <div class="room-details">
                                        <h4 class="room-name mb-2">{{ room.name }}</h4>
                                        <p class="room-description mb-1"><strong>Description:</strong> {{ room.description }}</p>
                                        <p class="room-specification mb-0"><strong>Specification:</strong> {{ room.specification.name }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item">No rooms available.</li>
                        {% endif %}
                    </ul>

                    <!-- Display image -->
                    <h3 class="mt-4">Image</h3>
                    <div class="image-container text-center mb-4">
                        {% if transient_house.images %}
                            <img src="{{ transient_house.images.url }}" class="img-fluid rounded" alt="Transient House Image">
                        {% else %}
                            <p>No image available.</p>
                        {% endif %}
                    </div>
                    {% if request.user.is_superuser%}
                    <div class="text-center">
                        <a href="{% url 'edit_transient_house' transient_house.id %}" class="btn btn-primary">Edit</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
